:root {
  --background: #121212;
  --white: #fff;
  --green: #0f0;
  --red: #f00;
  --purple: #800080;
  --light-gray: #b8b8b8;
  --dark-gray: #666;
  --blue: #00f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background) !important;
  color: var(--white) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

h5.success,
p.success {
  color: var(--green);
}

p.danger {
  color: var(--red);
}

/* Navigation */
nav.navbar {
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0.25rem 0;
  background-color: var(--background);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--white) !important;
  letter-spacing: 0.8px;
  padding: 0 1rem;
  font-size: 1.25rem;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.contact img {
  width: 92%;
}

.banner img {
  animation: updown 3s linear infinite;
}

.footer img {
  width: 26%;
}

.social-links img {
  animation: none;
}

.social-icon {
  display: inline-block;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.skill img {
  border-radius: 1.8rem;
}

.banner h1 img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  animation: none;
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0) sepia(7%) saturate(98%) hue-rotate(346deg);
}

.banner button {
  color: var(--white);
  border: none !important;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.navbar-text button {
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.button-container button,
.contact form button {
  font-weight: 700;
  color: var(--background);
  background-color: var(--white);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  background-color: var(--white);
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.3s ease-in-out;
}

.contact form button::before {
  content: "";
  background: var(--background);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: var(--background);
  background-color: var(--white);
}

.navbar-text button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

.button-container button:hover::before,
.contact form button:hover::before {
  width: 100%;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--white);
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid var(--white);
}

nav.navbar .navbar-toggler-icon::before,
nav.navbar .navbar-toggler-icon::after {
  content: '';
  width: 24px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon::after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(45deg);
  background-color: var(--white);
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: translate(8px) rotate(-45deg);
  background-color: var(--white);
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banner */
.banner {
  margin-top: 0;
  padding: 5.5rem 0 3.5rem 0;
  background-image: url('./assets/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
  color: var(--purple);
}

.banner p {
  color: var(--light-gray);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid var(--dark-gray);
}

/* Skills */
.skill {
  padding: 0 0 50px 0;
  position: relative;
}

.skill-bx {
  background: var(--background);
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h2,
.about h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Projects, About, Contact */
.about,
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}

.contact {
  padding: 1.8rem 0 3rem 0;
}

.about h2 {
  text-align: center;
  padding-top: 0.8rem;
}

.contact h2 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: var(--white);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: var(--background);
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: var(--background);
  opacity: 0.8;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.button-container button:hover {
  color: var(--white);
  background-color: var(--background);
}

.contact form button:hover {
  color: var(--white);
}

.projects-headline {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
}

.proj-imgbx {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  box-shadow: inset -100vw -100vh rgba(25, 25, 25, 0.75);
  border-radius: 0.25rem;
  font-weight: bolder;
  border: 2px solid var(--dark-gray);
}

.proj-title {
  font-size: 1.5rem;
  color: var(--green);
}

.proj-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.proj-technologies li {
  margin: 0;
  padding: 0.2rem;
  border: 1px solid var(--white);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-live-source-container {
  align-self: flex-end;
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.btn-live,
.btn-source {
  width: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-live:hover {
  color: var(--white) !important;
  font-weight: bolder;
}

.btn-source:hover {
  color: var(--white) !important;
  font-weight: bolder;
}

/* Footer */
.footer {
  padding: 2rem 2rem 1rem 2rem;
  background-image: url('./assets/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
